.overlay {
    position: fixed; /* Use fixed position to cover the entire viewport */
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.9); /* Adjust the alpha value to increase opacity */
    height: 100%;
    width: 100%;
    z-index: 9999;
    opacity: 0.9; /* This line is not necessary if you're using RGBA for the background */
    transition: opacity 2s ease-in;
}

.shown {
    opacity: 0.9; /* Adjusted to match the new background opacity */
    display: block;
    animation-name: custom-fadein;
    animation-duration: 2s;
}

.hidden {
    display: none;
    animation-name: custom-fadeout;
    animation-duration: 2s;
}

@keyframes custom-fadein {
    0%   {opacity: 0;}
    100% {opacity: 0.9;} /* Adjusted to match the new background opacity */
}

@keyframes custom-fadeout {
    0% {opacity: 0.9;} /* Adjusted to match the new background opacity */
    100%{opacity: 0;}
}
